{% set count = 0 %}{% for label in labels %}{% if count > 0 %},{% endif %} {{ label }}{% set count = count +1 %}{% endfor %}
{% for violation in violations %}{% set count = 0 %}{% for data in violation %}{% if count > 0 %},{% endif %}{{data}} {% set count = count +1 %}{% endfor %}
{% endfor %}
