#!/usr/bin/Rscript

algo1_matrix_data_smp_det_time <- read.table("clouds/data/{{algo1}}-{{node_count}}/violations_smp_det.csv", header=T,sep=",")
colnames(algo1_matrix_data_smp_det_time) <- c("algo1_smp_det_time", "algo1_smp_det_duration") 
attach(algo1_matrix_data_smp_det_time)

algo1_matrix_data_smp_hid_time <- read.table("clouds/data/{{algo1}}-{{node_count}}/violations_smp_hid.csv", header=T,sep=",")
colnames(algo1_matrix_data_smp_hid_time) <- c("algo1_smp_hid_time", "algo1_smp_hid_duration") 
attach(algo1_matrix_data_smp_hid_time)

algo1_matrix_data_out_det_time <- read.table("clouds/data/{{algo1}}-{{node_count}}/violations_out_det.csv", header=T,sep=",")
colnames(algo1_matrix_data_out_det_time) <- c("algo1_out_det_time", "algo1_out_det_duration") 
attach(algo1_matrix_data_out_det_time)

algo1_matrix_data_out_hid_time <- read.table("clouds/data/{{algo1}}-{{node_count}}/violations_out_hid.csv", header=T,sep=",")
colnames(algo1_matrix_data_out_hid_time) <- c("algo1_out_hid_time", "algo1_out_hid_duration") 
attach(algo1_matrix_data_out_hid_time)



algo2_matrix_data_smp_det_time <- read.table("clouds/data/{{algo2}}-{{node_count}}/violations_smp_det.csv", header=T,sep=",")
colnames(algo2_matrix_data_smp_det_time) <- c("algo2_smp_det_time", "algo2_smp_det_duration") 
attach(algo2_matrix_data_smp_det_time)

algo2_matrix_data_smp_hid_time <- read.table("clouds/data/{{algo2}}-{{node_count}}/violations_smp_hid.csv", header=T,sep=",")
colnames(algo2_matrix_data_smp_hid_time) <- c("algo2_smp_hid_time", "algo2_smp_hid_duration") 
attach(algo2_matrix_data_smp_hid_time)

algo2_matrix_data_out_det_time <- read.table("clouds/data/{{algo2}}-{{node_count}}/violations_out_det.csv", header=T,sep=",")
colnames(algo2_matrix_data_out_det_time) <- c("algo2_out_det_time", "algo2_out_det_duration") 
attach(algo2_matrix_data_out_det_time)

algo2_matrix_data_out_hid_time <- read.table("clouds/data/{{algo2}}-{{node_count}}/violations_out_hid.csv", header=T,sep=",")
colnames(algo2_matrix_data_out_hid_time) <- c("algo2_out_hid_time", "algo2_out_hid_duration") 
attach(algo2_matrix_data_out_hid_time)



dev.new(width=8, height=6)

g_range <- range(algo1_smp_det_duration, algo1_smp_hid_duration, algo1_out_det_duration, algo1_out_hid_duration, algo2_smp_det_duration, algo2_smp_hid_duration, algo2_out_det_duration, algo2_out_hid_duration)
plot(    algo1_smp_det_time, algo1_smp_det_duration,  pch=7 ,  col=rgb(255, 153, 51 , 200,maxColorValue=255), ylim=g_range*1.2, 
    ,xlab="Time (s)", ylab="Duration of the violation (s)")
#title(main="Duration of each violation")
points(  algo1_smp_hid_time, algo1_smp_hid_duration,  pch=0 ,  col=rgb(255, 153, 51 , 200,maxColorValue=255))
points(  algo1_out_det_time, algo1_out_det_duration,  pch=13,  col=rgb(255, 178, 102, 200,maxColorValue=255))
points(  algo1_out_hid_time, algo1_out_hid_duration,  pch=1 ,  col=rgb(255, 178, 102, 200,maxColorValue=255))

points(  algo2_smp_det_time, algo2_smp_det_duration,  pch=7 ,  col=rgb(0  , 76 , 153, 200,maxColorValue=255))
points(  algo2_smp_hid_time, algo2_smp_hid_duration,  pch=0 ,  col=rgb(0  , 76 , 153, 200,maxColorValue=255))
points(  algo2_out_det_time, algo2_out_det_duration,  pch=13,  col=rgb(0  , 128, 255, 200,maxColorValue=255))
points(  algo2_out_hid_time, algo2_out_hid_duration,  pch=1 ,  col=rgb(0  , 128, 255, 200,maxColorValue=255))

legend("topleft", c(
        "{{algo1 | capitalize}} violation detected",
        "{{algo1 | capitalize}} violation hidden",        
        "{{algo1 | capitalize}} violation out detected",
        "{{algo1 | capitalize}} violation out hidden",
        "{{algo2 | capitalize}} violation detected",
        "{{algo2 | capitalize}} violation hidden",        
        "{{algo2 | capitalize}} violation out detected",
        "{{algo2 | capitalize}} violation out hidden"
    ), ncol=2,
   col=c(
      rgb(255, 153, 51 , 255,maxColorValue=255),
      rgb(255, 153, 51 , 255,maxColorValue=255),
      rgb(255, 178, 102, 255,maxColorValue=255),
      rgb(255, 178, 102, 255,maxColorValue=255),
      rgb(0  , 76 , 153, 255,maxColorValue=255),
      rgb(0  , 76 , 153, 255,maxColorValue=255),
      rgb(0  , 128, 255, 255,maxColorValue=255),
      rgb(0  , 128, 255, 255,maxColorValue=255)
  ), pch=c(7, 0, 13, 1, 7, 0, 13, 1))


