#!/usr/bin/Rscript

{% set colors = ["#E04836", "#5696BC", "#F39D41", "#8D5924", "#2F5168"] %}
{% set algos_size = algos|count %}
{% set tuple_size = x_axis|count %}
{% set group_by_nodes_count = group_by_nodes|count %}

data <- read.table("{{source}}", header=T,sep=",")
attach(data)

# Compute the range of the series 
g_range <- range(0{% for algo in algos %},{{ algo }} {% endfor %})

{% set pch_start = 20 %}
{% set lty_start = 3 %}

{% set cex = 1.5 %}
{% set lwd = 2 %}
{% set legend_cex = 1.1 %}
{% set legend_lwd = 1.7 %}

{% set title_enabled = False %}

# Plot the first serie
{% set count = 0 %}
plot({{algos[0]}}, type="o", col="{{ colors[0] }}", ylim=g_range, pch={{pch_start+count}}, cex={{cex}}, lwd={{lwd}}, lty={{lty_start+count}}, 
   axes=FALSE, ann=FALSE)




# Generate x-axis
{% set count = 0 %}
axis(1, at=1:{{tuple_size}}, lab=c({% for server_count,vm_count in x_axis %}{% if count > 0 %},{% endif %}"{{server_count}} nodes\n{{vm_count}} vms"{% set count = count +1 %}{% endfor %}))

print(g_range[2])

# Generate x-axis
axis(2)

# Create box around plot
box()

# Graph other series of data
{% set count = 0 %}
{% for algo in algos %}{% if count > 0 %}lines({{ algo }}, type="o", pch={{pch_start+count}}, cex={{cex}}, lwd={{lwd}}, lty={{lty_start+count}}, col="{{ colors[count] }}"){% endif %}{% set count = count +1 %}
{% endfor %}

{% if title_enabled %}
# 		Create a title with a red, bold/italic font
title(main="{{title|capitalize}}", font.main=4)
{% endif %}

# 		Label the x and y axes with dark green text
title(xlab="{{x_label}}", col.lab=rgb(0,0,0))
title(ylab="{{y_label}}", col.lab=rgb(0,0,0))

#abline(h=3600,col="black",lty=2)
# text(1.5, (3600+g_range[2]/40), "3600 s", col = "black")

# 		Create a legend at (1, g_range[2]) that is slightly smaller 
# 		(cex) and uses the same line colors and points used by 
# 		the actual plots 
{% set count = 0 %}
legend(1, g_range[2], c({% for algo in algos %}{% if count > 0 %},{% endif %}"{{ algo }}"{% set count = count +1 %}{% endfor %}), cex={{legend_cex}}, lwd={{legend_lwd}}, 
   col=c({% for algo in algos %}{% if count > 0 %},{% endif %}"{{ colors[count] }}"{% set count = count +1 %}{% endfor %}), pch={{pch_start}}:{{pch_start + algos|length}}, lty={{lty_start}}:{{lty_start + algos|length}});










{% set colors = ["#E04836", "#5696BC", "#F39D41", "#8D5924", "#2F5168"] %}
{% set algos_size = algos|count %}
{% set tuple_size = x_axis|count %}
{% set group_by_nodes_count = group_by_nodes|count %}

data <- read.table("{{source}}", header=T,sep=",")
attach(data)

# Compute the range of the series 
g_range <- range(min({% set count = 0 %}{% for algo in algos %}{% if count > 0 %}, {% endif %}{{algo}}{% set count = count +1 %}{% endfor %}), max({% set count = 0 %}{% for algo in algos %}{% if count > 0 %}, {% endif %}{{algo}}{% set count = count +1 %}{% endfor %}))

{% set pch_start = 20 %}
{% set lty_start = 3 %}

# Plot the first serie
{% set count = 0 %}
plot({{algos[0]}}, type="o", col="{{ colors[0] }}", log="y", ylim=g_range, yaxt="n", pch={{pch_start+count}}, cex={{cex}}, lwd={{lwd}}, lty={{lty_start+count}}, 
   axes=FALSE, ann=FALSE)




# Generate x-axis
{% set count = 0 %}
axis(1, at=1:{{tuple_size}}, lab=c({% for server_count,vm_count in x_axis %}{% if count > 0 %},{% endif %}"{{server_count}} nodes\n{{vm_count}} vms"{% set count = count +1 %}{% endfor %}))

print(g_range[2])

# Generate x-axis
axis(2)

# Create box around plot
box()

# Graph other series of data
{% set count = 0 %}
{% for algo in algos %}{% if count > 0 %}lines({{ algo }}, type="o", pch={{pch_start+count}}, cex={{cex}}, lwd={{lwd}}, lty={{lty_start+count}}, col="{{ colors[count] }}"){% endif %}{% set count = count +1 %}
{% endfor %}

{% if title_enabled %}
title(main="{{title|capitalize}} \n(logarithmic)", font.main=4)
{% endif %}

# 		Label the x and y axes with dark green text
title(xlab="{{x_label}}", col.lab=rgb(0,0,0))
title(ylab="{{y_label}}", col.lab=rgb(0,0,0))


# 		Create a legend at (1, g_range[2]) that is slightly smaller 
# 		(cex) and uses the same line colors and points used by 
# 		the actual plots 
{% set count = 0 %}
legend(1, g_range[2], c({% for algo in algos %}{% if count > 0 %},{% endif %}"{{ algo }}"{% set count = count +1 %}{% endfor %}), cex={{legend_cex}}, lwd={{legend_lwd}} 
   col=c({% for algo in algos %}{% if count > 0 %},{% endif %}"{{ colors[count] }}"{% set count = count +1 %}{% endfor %}), pch={{pch_start}}:{{pch_start + algos|length}}, lty={{lty_start}}:{{lty_start + algos|length}});








# {% set colors = ["#E04836", "#5696BC", "#F39D41", "#8D5924", "#2F5168"] %}
# {% set algos_size = algos|count %}
# {% set tuple_size = x_axis|count %}
# {% set group_by_nodes_count = group_by_nodes|count %}

# data <- read.table("{{source}}", header=T,sep=",")
# attach(data)

# # Compute the range of the series 
# g_range <- range(min({% set count = 0 %}{% for algo in algos %}{% if count > 0 %}, {% endif %}{{algo}}{% set count = count +1 %}{% endfor %}), max({% set count = 0 %}{% for algo in algos %}{% if count > 0 %}, {% endif %}{{algo}}{% set count = count +1 %}{% endfor %}))

# flog <- log10
# factor <- 10

# if (g_range[2] - g_range[1] < 10) {
# 	flog <- log2
# 	factor <- 2
# }

# log_g_range <- range(flog(min({% set count = 0 %}{% for algo in algos %}{% if count > 0 %}, {% endif %}{{algo}}{% set count = count +1 %}{% endfor %})), flog(max({% set count = 0 %}{% for algo in algos %}{% if count > 0 %}, {% endif %}{{algo}}{% set count = count +1 %}{% endfor %})))


# {% set pch_start = 20 %}
# {% set lty_start = 3 %}

# # Plot the first serie
# {% set count = 0 %}
# plot(flog({{algos[0]}}), type="o", col="{{ colors[0] }}", ylim=log_g_range, yaxt="n", pch={{pch_start+count}}, cex=1.2, lwd=1.5, lty={{lty_start+count}}, 
#    axes=FALSE, ann=FALSE)




# # Generate x-axis
# {% set count = 0 %}
# axis(1, at=1:{{tuple_size}}, lab=c({% for server_count,vm_count in x_axis %}{% if count > 0 %},{% endif %}"{{server_count}} nodes\n{{vm_count}} vms"{% set count = count +1 %}{% endfor %}))

# # print(g_range)
# # print(log_g_range)

# indice <- floor(log_g_range[1])
# position <- 1
# y_values <- range(0)
# labels <- range(0)
# while (indice < ceiling(log_g_range[2])) {
# 	n <- factor^indice
# 	y_values[position] <- indice
#     labels[position] <- n
#     indice <- indice+1
#     position <- position+1
# }
# # print(y_values)
# # print(labels)

# y_values[indice+1] = 1 * log_g_range[2]
# labels[indice+1] = round(factor^(1 * log_g_range[2]))
# # axis(2)
# axis(2, at=y_values, labels=labels, cex.axis=0.8)

# # Create box around plot
# box()

# # Graph other series of data
# {% set count = 0 %}
# {% for algo in algos %}{% if count > 0 %}lines(flog({{ algo }}), type="o", pch={{pch_start+count}}, cex=1.2, lwd=1.5, lty={{lty_start+count}}, col="{{ colors[count] }}"){% endif %}{% set count = count +1 %}
# {% endfor %}

# title(main="{{title|capitalize}} \n(logarithmic)", font.main=4)

# # Label the x and y axes with dark green text
# title(xlab="{{x_label}}", col.lab=rgb(0,0,0))
# title(ylab="{{y_label}}", col.lab=rgb(0,0,0))


# # Create a legend at (1, g_range[2]) that is slightly smaller 
# # (cex) and uses the same line colors and points used by 
# # the actual plots 
# {% set count = 0 %}
# legend(1, g_range[2], c({% for algo in algos %}{% if count > 0 %},{% endif %}"{{ algo }}"{% set count = count +1 %}{% endfor %}), cex=0.8, lwd=1.5, 
#    col=c({% for algo in algos %}{% if count > 0 %},{% endif %}"{{ colors[count] }}"{% set count = count +1 %}{% endfor %}), pch={{pch_start}}:{{pch_start + algos|length}}, lty={{lty_start}}:{{lty_start + algos|length}});

